
.contacts_back_up {
  width: 1920px;
  height: 1580px;
  background: linear-gradient(180deg, #C7AFE1 0%, #F0DBFF 36.04%, #F0DBFF 63.12%, #B799D8 81.35%);
  border-bottom: 1px solid black;
}

.partners {
  width: 1900px;
  height: 188px;
  border: solid 5px red;
  font-size: 150px;
  text-align: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
}

.text_contacts_big {
  color: #2B0C3A;
  leading-trim: both;
  text-edge: cap;
  font-size: 220px;
  font-style: normal;
  line-height: 68%;
  margin-top: 106px;
  margin-bottom: 80px;
}

.text_contacts_small {
  color: #2B0C3A;
  margin-bottom: 16px;
}

.contacts_input {
  width: 910px;
  height: 80px;
  background: #D9D9D9;
  border: solid 5px #36E519;
  margin-bottom: 39px;
}

.contacts_input_big {
  width: 910px;
  height: 235px;
  background: #D9D9D9;
  border: solid 5px #36E519;
  margin-bottom: 39px;
}

.send_message {
  margin-top: 95px;
}

.img_arrows {
  margin-left: 58px;
  margin-right: 56px;
}

.mascot_footer {
  position: absolute;
  margin-left: 1095px;
  margin-top: -510px;
}