/* Стили для всплывающего окна */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы окно было поверх всего остального */
}

/* Стили для затемненного фона */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
  z-index: 999; /* Немного меньше z-index, чем у всплывающего окна, чтобы он был под ним, но поверх всего остального */
}