@use 'sass:map';
@import './variables';
@import './themesVariables';

$themes: (
        dark: (
          //space

          //colors

          //gradient

          //images

        ),
        light: (
        //space

        //colors

        //gradient

        //images

        ),
)

@mixin themed {
  @each $theme, $map in $themes {
    :global(.theme--#{$theme}) & {
      $theme-map: () !global;

      @each $key, $submap in $map {
        $value: map.get($map, $key);
        $theme-map: map.merge(
                        $theme-map,
                        (
                                $key: $value,
                        )
        ) !global;
      }
      @content;

      $theme-map: null !global;
    }
  }
}

@function t( $key ) {
  @return map-get( $theme-map , $key );
}