//color names
$headerBackground: headerBackground;
$mainBackground: mainBackground;
$beginnersMascotBackground: beginnersMascotBackground;
$beginnersReadAboutBackground: beginnersReadAboutBackground;
$beginnersReadAboutText: beginnersReadAboutText;
$beginnersReadAboutArrows: beginnersReadAboutArrows;
$beginnersVocabularyText1: beginnersVocabularyText1;
$beginnersVocabularyText2: beginnersVocabularyText2;
$beginnersVocabularyBackground: beginnersVocabularyBackground;
$beginnersCloud: beginnersCloud;




