//colors
$colorLightViolet: #F0DBFF;
$colorViolet: #C7AFE1;
$colorDeepViolet: #2B0C3A;
$colorTotalBlack: #000000;
$colorTotalWhite: #FFFFFF;
$colorNoneToxicGreen: #36e519;
$colorAcidGreen: #00FE00;
$colorGreen: #127F00;
$colorLightBlue: #15F3EF;
$colorPink: #F30096;
$colorLightLemon: #F3FFDF;
$colorSummer: #E1B20D;
$colorOrange: #FFA723;
$colorAutumn: #CF4B00;
$colorSpring: #50D15D;
$colorWinter: #14C3C0;

//gradient
$colorTitleGradient: linear-gradient(127deg, #fff 0%, #d3d3d3 100%);

//shadow


//spacing


//sizes
$sizeContainerLarge: 1920px;
$sizeContainer: 1432px;
$sizeExtraLarge: 1200px;
$sizeLarge: 950px;
$sizeMedium: 786px;
$sizeSmall: 576px;

//images
$logo: url('../../assets/images/logo 1.svg');
$cloud: url('../../assets/images/cloud.svg');

//mixins
//general font mixins
@mixin fontGemunuLibre() {
  font-family: 'Gemunu Libre', Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin fontPixy() {
  font-family: 'PIXY', Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin fontInter() {
  font-family: 'Inter', Arial, Helvetica, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin fontStyle($size: 16px, $weight: 400, $height: normal) {
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
}

//extends


//fonts
@mixin textLinksHeader() {
  @include fontInter;
  @include fontStyle($size: 18px, $weight: 600, $height: 22px)
}

@mixin textBtn1() {
  @include fontInter;
  @include fontStyle($size: 20px, $weight: 600, $height: 20px);
  text-transform: uppercase;
}

@mixin textInter1() {
  @include fontInter;
  @include fontStyle($size: 20px, $weight: 700, $height: 20px);
  text-transform: uppercase;
}

@mixin textInter2() {
  @include fontInter;
  @include fontStyle($size: 32px, $weight: 500, $height: 39px);
  text-transform: uppercase;
}

@mixin textInter3() {
  @include fontInter;
  @include fontStyle($size: 36px, $weight: 400, $height: 72px);
}

@mixin textInter4() {
  @include fontInter;
  @include fontStyle($size: 64px, $weight: 600, $height: 100%);
}

@mixin textCardMain() {
  @include fontInter;
  @include fontStyle($size: 18px, $weight: 400, $height: 24px);
}

@mixin textQuestMain() {
  @include fontInter;
  @include fontStyle($size: 18px, $weight: 400, $height: 32px);
}

@mixin textCardTitle() {
  @include fontPixy;
  @include fontStyle($size: 28px, $weight: 400, $height: 24px);
  text-transform: uppercase;
}

@mixin textBtnBuyNFT() {
  @include fontGemunuLibre;
  @include fontStyle($size: 42px, $weight: 600, $height: 120%);
}

@mixin textPixy1() {
  @include fontPixy;
  @include fontStyle($size: 28px, $weight: 400, $height: 24px);
}

@mixin textPixy2() {
  @include fontPixy;
  @include fontStyle($size: 32px, $weight: 400, $height: 36px);
}

@mixin textPixy3() {
  @include fontPixy;
  @include fontStyle($size: 36px, $weight: 400, $height: 41px);
}

@mixin textPixy4() {
  @include fontPixy;
  @include fontStyle($size: 48px, $weight: 400, $height: 68%);
}

@mixin textPixy4() {
  @include fontPixy;
  @include fontStyle($size: 60px, $weight: 400, $height: 69px);
}

@mixin textPixy5() {
  @include fontPixy;
  @include fontStyle($size: 96px, $weight: 400, $height: 68%);
}

//others
@mixin width-height($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin borderStyle($border, $borderRadius) {
  border: $border;
  border-radius: $borderRadius;
}

@mixin flex-grid($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}