//colors
$colorLightViolet: #F0DBFF;
$colorTotalBlack: #000000;
$colorNoneToxicGreen: #36e519;
$colorTotalWhite: #FFFFFF;
$colorHeaderText: #2B0C3A;
$colorHeaderBtn: #2B0C3A;
$colorHeaderBtnSmall: #F30096;


//gradient
$colorTitleGradient: linear-gradient(127deg, #fff 0%, #d3d3d3 100%);


//shadow


//spacing


//sizes


//images


//mixins
