/* Стили для всплывающего окна */
.popup_auth {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  transform: translate(-50%, -50%);
  background-color: rgba(93,255,81,1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы окно было поверх всего остального */
}

.frame {
  width: 1076px;
  height: 510px;
  border: 5px solid; /* Толщина рамки */
  border-image: linear-gradient(to bottom right,
          rgba(93,255,81,1) 0%, /* Левый верхний угол */
          rgba(150,160,81,0.01) 40%, /* Правый верхний угол */
          rgba(200,76,82,0.01) 50%, /* Правый нижний угол */
          rgba(243,0,150,1) 100% /* Левый нижний угол */
  );
  border-image-slice: 1; /* Размер градиентного изображения (1 - 100%) */
  //background: rgba(43,12,58,1);
}

.sign_up{
  margin-left: 50%;
  padding: 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup_down h2{
  font-size: 32px;
  color: white;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 545px;
  height: 716px;
}

.input_auth {
  width: 380px;
  height: 48px;
  border: solid 3px rgba(46,18,64,1);
  margin: 20px 0;
  background-color: rgba(93,255,81,1);
}

.input_auth::placeholder {
  padding-left: 15px;
}

a{
  margin: 20px 0;
}

.sign_in_with{
  text-align: center;

}

.social_media{

}

.button_sign_up {
  background: rgba(43,12,58,1);
  border: none;
  width: 150px;
  height: 50px;
}
