/* Стили для всплывающего окна */
.popup_auth {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 578px;
  height: 726px;
  flex-shrink: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  transform: translate(-50%, -50%);
  border: 1px solid #5DFF51;
  background: #5DFF51;
  z-index: 1000; /* Устанавливаем высокий z-index, чтобы окно было поверх всего остального */
  box-sizing: border-box;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  width: 545px;
  height: 716px;
  box-sizing: border-box;
}

.login h2 {
  margin-top: 46px;
  margin-bottom: 32px;
}

.input_auth {
  display: flex;
  width: 330px;
  height: 38px;
  margin: 20px 0px;
  padding: 9px 29px 9px 11px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border: 5px solid #2E1240;
  background-color: #5DFF51;
}

.btn_sign_in {

}

//
//a{
//  margin: 20px 0;
//}
//
//.sign_in_with{
//  text-align: center;
//
//}
//
//.social_media{
//
//}
//

