.main_up {
  display: flex;

}

.main_svg {
  position: absolute;
  z-index: -1;
}

.main_up_background {
  width: 1920px;
}

.img_up_back {
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
}

.main_layout {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.main_layout_img {
    width: 1109px;
    height: 240px;
    margin-top: 139px;
    margin-left: 516px;
    box-sizing: border-box;
}

//.main_title {
//  text-shadow: 10px 0 20px rgba(0, 0, 0, 0.50);
//  font-family: 'Gemunu Libre', sans-serif;
//  font-size: 220px;
//  font-style: normal;
//  font-weight: 800;
//  line-height: 240px;
//  letter-spacing: -2.2px;
//  text-transform: uppercase;
//  background: linear-gradient(92deg, #FFF 4.78%, #D3D3D3 88.49%);
//  background-clip: text;
//  -webkit-background-clip: text;
//  -webkit-text-fill-color: transparent;
//  margin-top: 139px;
//  margin-left: 516px;
//  box-sizing: border-box;
//}

.main_text h6{
  width: 1036px;
  color: #FFF;
  font-size: 36px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0.8px;
  margin-left: 527px;
}

.main_btns {
  margin-left: 663px;
  margin-top: 77px;
}

.app_btn_g {

}

.app_btn_a {

}

.text_pixy {
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  line-height: 68%;
  margin-top: 48px;
  margin-left: 20%;
}