
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;600&display=swap');


.app_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.app_main {
  margin-top: 67px;
}

.app_footer {

}