
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;600&display=swap');

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.app__header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

//.app__main {
//  position: absolute;
//  margin-top: 67px;
//  z-index: 49;
//}
//
//.app__dailyTasks {
//  position: absolute;
//  margin-top: 982px;
//  z-index: 48;
//}
//
//.app__newsCollection {
//  position: absolute;
//  margin-top: 2240px;
//  z-index: 47;
//}
//
//.app__contacts {
//  position: absolute;
//  margin-top: 5215px;
//  z-index: 45;
//}

.app__footer {
  //position: absolute;
  //width: 100vw;
  //margin-top: 6795px;
  //z-index: 44;
}