
.background_header{
  position: relative;
  width: 100vw;
  height: auto;
}

.header_svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header_overlay {
  position: absolute;
}

.h_menu_li{
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100vw;
  height: 110px;
  display: flex;
  justify-content: space-between;
}

.header_links {
  display: flex;
  align-items: center;
}

.header_links li {
  list-style-type: none;
  margin-left: 50px;
}

.header_btns {
  //margin-right: 500px;
  display: flex;
  align-items: center;


}

.logo{

}

.link_header {
  margin-right: 58px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43,12,58,1);
  //background-color: white;
  z-index: 900; /* Немного меньше z-index, чем у всплывающего окна, чтобы он был под ним, но поверх всего остального */
}

.popup_down{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(43,12,58,1);
  //padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 953; /* Устанавливаем высокий z-index, чтобы окно было поверх всего остального */

}

.frame {
  display: flex;
  justify-content: space-around;
  width: 1076px;
  height: 510px;
  border: 5px solid; /* Толщина рамки */
  border-image: linear-gradient(to bottom right,
          rgba(93,255,81,1) 0%, /* Левый верхний угол */
          rgba(150,160,81,0.01) 40%, /* Правый верхний угол */
          rgba(200,76,82,0.01) 50%, /* Правый нижний угол */
          rgba(243,0,150,1) 100% /* Левый нижний угол */
  );
  border-image-slice: 1; /* Размер градиентного изображения (1 - 100%) */
  //background: rgba(43,12,58,1);
}

.sign_up, .sign_in{
  padding: 200px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 600px;
}

.popup_down h2{
  font-size: 32px;
  color: white;
  margin-bottom: 35px;
}

//.btn_sign_in {
//  background: rgba(43,12,58,1);
//  border: none;
//  width: 150px;
//  height: 50px;
//}

.close {
  position: fixed;
  top: 5%;
  right: 15%;
  z-index: 1000;
}
