
.header{
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid black;
}

.h_menu_li{
  display: flex;
  justify-content: space-around;
}

.logo{

}

.link{
  margin: 20px 40px;
}