.parent_container{
  min-width: 140px; /* или любое другое значение в процентах */
  margin: auto; /* для центрирования */
  display: inline-block;
  background: none;
  border: none;
}

.svg_button {
  padding: 0;
  margin: 0;
  font-size: 20px;
  cursor: pointer;
  transition: box-shadow 0.3s ease; /* добавляем плавный переход для свечения */
}

.text_for_button {
  color: #FFF;
  text-align: center;
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 2.5px;
}

.svg_button:hover svg path {
  box-shadow:0 0 10px 3px #fff; /* Белое свечение при наведении */
}