@font-face {
  font-family: 'Pixy';
  src: local('Pixy'), url('./styles/fonts/pixy/PIXY.ttf');
}

@font-face {
  font-family: 'Gemunu Libre', sans-serif;
  src: local('Gemunu Libre'), url('./styles/fonts/Gemunu_Libre/GemunuLibre-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter', sans-serif;
  src: local('Inter'), url('./styles/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, 'Gemunu Libre', 'Inter', 'Pixy','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 2.5px;
  line-height: 1.2;
}

input {
  font-family: 'Pixy', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-family: 'Gemunu Libre', sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: rgba(46,18,64,1);
  margin: 0;
  line-height: 120%; /* 48px */
  letter-spacing: 2.5px;
}

h3 {
  font-family: 'Gemunu Libre', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgba(46, 18, 64, 1);
}

h4 {
  font-family: 'Gemunu Libre', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
}

h5 {
  font-family: 'Pixy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: white;
  margin: 0;
}

h6 {
  color: #000;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 1.2;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}