@font-face {
  font-family: 'Pixy';
  src: local('Pixy'), url('./styles/fonts/pixy/PIXY.ttf');
}

@font-face {
  font-family: 'Gemunu Libre', sans-serif;
  src: local('Gemunu Libre'), url('./styles/fonts/Gemunu_Libre/GemunuLibre-VariableFont_wght.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, 'Gemunu Libre', 'Pixy','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  letter-spacing: 2.5px;
  line-height: 1.2;
}

input {
  font-family: 'Pixy', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-weight: 600;
  font-size: 40px;
  color: rgba(46,18,64,1);

}

h3 {
  font-weight: 400;
  font-size: 24px;
  color: rgba(46, 18, 64, 1);
}

h4 {
  font-weight: 400;
  font-size: 20px;
  color: black;
}
